{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}

<div class="example-wrapper">
   <h1>Ajout avec succès job num {{id}} </h1>
  
</div>
{% endblock %}
